.main {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-rows: auto;
  grid-auto-flow: column;
  column-gap: 1rem;
  width: 100%;
  height: 61px;
  padding: 0 30px;
  background-color: var(--color-blue-link);
}

.button {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 16px;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 90%;
    height: 2px;
    border-radius: 100vh;
    background: var(--color-blue);
    transform: translate(-50%, -2px) scaleX(0);
    transition: transform .2s;
  }

  &:hover::after {
    transform: translate(-50%, -2px) scaleX(1);
  }

  &__active::after {
    transform: translate(-50%, -2px) scaleX(1);
  }
}