.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: var(--color-white);
  border: none;
  cursor: pointer;
  transition: background-color var(--tr-fast);

  &:hover,
  &:focus {
    background-color: var(--color-blue-hover-light);
  }

  &:active {
    background-color: var(--color-blue-active-light);
  }
}
