.button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: 1px solid var(--color-gray);
  background-color: var(--color-white);
  cursor: pointer;
  transition: background-color var(--tr-fast);

  &:hover,
  &:focus {
    background-color: var(--color-blue-hover-light);
  }

  &:active {
    background-color: var(--color-blue-active-light);
  }

  &_item {
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: var(--color-blue);
    border-radius: 100vh;
    transition: transform var(--tr-medium), opacity var(--tr-medium);

    &__first {
      transform: translate3d(0, -6px, 0);
    }

    &__center {
      opacity: 1;
    }

    &__last {
      transform: translate3d(0, 6px, 0);
    }
  }

  &__open > &_item  {
    &__first {
      transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 45deg);
    }

    &__center {
      opacity: 0;
    }

    &__last {
      transform: translate3d(0, 0, 0) rotate3d(0, 0, -1, 45deg);
    }
  }
}
