.item {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px 8px 7px;
  background-color: var(--background);
  border-radius: 100vh;
  box-shadow: 0 3px 6px var(--color-shadow);
  overflow: hidden;

  &__background {
    position: absolute;
    left: 0; top: 0;
    right: 0; bottom: 0;
    z-index: 0;
    opacity: 0.4;
  }

  &__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    box-shadow: 0 3px 6px var(--color-shadow);
    padding: 4px 9px;
    border-radius: 100vh;
    margin-right: 18px;
    min-width: 42px;
    font-weight: 400;
    z-index: 1;
  }

  &__text {
    font-weight: 500;
    z-index: 1;
  }

  & + & {
    margin-top: 14px;
  }
}
