.main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0; top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  z-index: 8000;
}

.shadow {
  position: absolute;
  left: 0; top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-height: 100vh;
}

.cross {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0; top: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;

  & > i {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-gray);
    border-radius: 100vh;
    transition: background-color var(--tr-fast);

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }

  &:hover > i {
    background-color: var(--color-dark);
  }
}
