.wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 48px;
  right: 16px;
  max-height: 50vh;
  padding: 12px;
  transform: translate3d(~'calc(100% - 38px)', 0px, 0px);
  cursor: default;
  transition: transform var(--tr-medium) var(--tr-medium);

  &:hover,
  &:focus {
    transform: translate3d(0px, 0px, 0px);
    transition: transform var(--tr-medium);

    & > .hoverButton {
      opacity: 0;
      visibility: hidden;
      transition: opacity var(--tr-medium), visibility var(--tr-medium);
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hoverButton {
  background-color: var(--background);
  padding: 18px 12px;
  box-shadow: 0 0 6px var(--color-shadow);
  color: var(--color-blue);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  font-weight: 500;
  writing-mode: vertical-lr;
  margin-right: 12px;
  transition: opacity var(--tr-medium) var(--tr-medium), visibility var(--tr-medium) var(--tr-medium);
}
