.container {
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  max-width: 420px;
  height: 100vh;
  background-color: var(--background);
  box-shadow: 0 0 24px var(--color-shadow);
  transform: translate3d(-100%, 0, 0);
  transition: transform var(--tr-low);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 50;

  &__open {
    transform: translate3d(80px, 0, 0);
  }
}

.listStatus {
  padding: 22px 12px 0;
}
