@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

a:active,
a:focus {
  outline: none;
}
input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
textarea {
  resize: none;
}
textarea {
  resize: vertical;
}
textarea {
  resize: horizontal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;

    --background: #fff;
    --background-page: #fff;
    --color-white: #fff;
    --color-white-absolute: #fff;
    --color-white-blur: rgba(255,255,255,.8);
    --color-dark: #2B2B2B;
    --color-coal: #545454;
    --color-shadow: rgba(0,0,0,.16);
    --color-gray: #B1BFC9;
    --color-border: #97D3FF;
    --color-border-dark: #2970A7;
    --color-blue: #1D86D8;
    --color-blue-hover: #2696d8;
    --color-blue-active: #1c7ad8;
    --color-blue-hover-light: #d4e4ff;
    --color-blue-active-light: #bbd6ff;
    --color-blue-light: #F9FDFF;
    --color-blue-link: #D9EFFF;
    --color-yellow: #E3A513;
    --color-red: #9A2017;
    --color-popup: #FCFAF4;

    --color-table-background: #F2FAFE;
    --color-table-background-hover: #e5f4fe;
    --color-table-border: #CCDFEE;
    --color-params-background: #F5FCFF;

    --color-orange: #D97E15;
    --color-red-hover: #da1b0f;
    --color-red-hover-light: #ffcecc;
    --color-red-active: #a5190e;
    --color-red-active-light: #eca7a4;
    --color-green: #4abb15;

    --color-status-shadow: rgba(0,0,0,.16);
    --color-status-top: rgba(255,255,255,.8);
    --color-status-green: #179A28;
    --color-status-green-top: #DCFFE1;

    --font: 'Montserrat', 'Roboto', 'Arial', sans-serif;

    --filterMap: none;

    --border-radius: 3px;

    --tr-fast: .1s;
    --tr-medium: .2s;
    --tr-low: .5s;

    background-color: var(--background);
    color: var(--color-dark);
}

body.dark {
    --background: #272727;
    --background-page: #202020;
    --color-white: #424242; /*383838*/
    --color-dark: #eeeeee;
    --color-coal: #bcbcbc;
    --color-shadow: rgba(0,0,0,.16);
    --color-gray: #363c43;
    --color-border: #37647b;
    --color-border-dark: #2970A7;
    --color-blue: #1D86D8;
    --color-blue-hover: #2696d8;
    --color-blue-active: #1c7ad8;
    --color-blue-hover-light: #626b79;
    --color-blue-light: #343739;
    --color-blue-link: #70747f;
    --color-red: #9A2017;
    --color-popup: #292725;

    --color-table-background: #424242;
    --color-table-background-hover: #43474a;
    --color-table-border: #343739;
    --color-params-background: #70747f;

    --color-status-top: rgba(0,0,0,.6);
}

body.dark-yandex {
    --filterMap: invert(.9) sepia(50%) hue-rotate(-201deg);
}

.leaflet-container {
    height: 100%;
    width: 100%;
    background-color: var(--background) !important;
}

.leaflet-control-layers {
    display: none;
}

.leaflet-tile-pane {
    filter: var(--filterMap);
}
