.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 33px 38px;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.input_date {
  display: flex;
  align-items: baseline;
  margin-bottom: 16px;

  & > * + * {
    margin-left: 0.4rem;
  }
}

.paramButton {
  background: transparent;
  border: none;
  color: var(--color-blue);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}