.main {
  width: 100%;
  padding: 0 16px 21px;
  margin: 0 0 21px;
  border-bottom: 1px solid var(--color-border);
}

.title {
  font-weight: 600;
}

.wrapper {
  margin-top: 18px;
}

.info {
  display: flex;
  flex-direction: column;

  & + & {
    margin-top: 12px;
  }
}

.info_title {
  font-size: 14px;
  font-weight: 500;
}

.info_title__parameter {
  font-size: 10px;
  font-weight: 400;
  opacity: .5;
}

.info_value {
  font-size: 14px;
  margin-top: 4px;
}
