.main {
  display: flex;
  align-items: center;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  min-height: 60px;
  background-color: var(--background);
  padding: 0 16px;
  border-bottom: 1px solid var(--color-gray);
  z-index: 100;
}

.name {
  font-weight: 500;
  font-size: 18px;
}

.text {
  font-weight: 200;
  font-size: 14px;
}

.separator {
  margin: 0 .75rem;
}

.link {
  text-decoration: none;
  color: var(--color-blue);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}