.main {
  overflow: hidden;
  overflow-y: auto;
}

.nav {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-auto-flow: column;
  column-gap: 16px;
  align-items: baseline;
  width: 100%;
  padding: 0 16px;
  margin: 0 0 16px;
}

.buttonTab {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 18px;
  transition: background .1s;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 90%;
    height: 2px;
    border-radius: 100vh;
    background: #1c7ad8;
    transform: translateX(-50%) scaleX(0);
    transition: transform .2s;
  }

  &:hover::after {
    transform: translateX(-50%) scaleX(1);
  }

  &__active::after {
    transform: translateX(-50%) scaleX(1);
  }
}