.main {
  width: 100%;
  text-align: center;
  padding: 2px 12px;
  font-size: 12px;
  color: var(--color-white-absolute);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 21px;
  margin: 16px 0 21px;
  border-bottom: 1px solid var(--color-border);
}

.info {
  display: flex;
  flex-direction: column;
}

.type {
  font-size: 14px;
  font-weight: 300;
  margin-top: 3px;
}

.address {
  font-size: 14px;
  margin-top: 12px;
}
