.main {
  position: sticky;
  top: 0;
  padding: 18px 12px 14px;
  border-bottom: 1px solid var(--color-gray);
  background-color: var(--background);
  z-index: 4;
}

.input {
  width: 100%;
  padding: 7px 10px;
  color: var(--color-dark);
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 3px;
  font-size: 14px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 29px;
}
