.wrapper {
  padding: 28px 16px 44px;
  border-bottom: 1px solid var(--color-gray);

  &:last-child {
    border-bottom: none;
  }
}

.titleGroup {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.defaultText {
  font-size: 14px;
}
