.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 680px;
  background-color: var(--color-popup);
  border-radius: var(--border-radius);
  box-shadow: 0 3px 16px var(--color-shadow);
  padding: 12px 16px 18px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 18px;

  & > &_item + &_item {
    margin-top: 8px;
  }
}
