.container {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 16px var(--color-shadow);
  z-index: 101;
}
