.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 680px;
  height: 90vh;
  background-color: var(--background);
  border-radius: var(--border-radius);
  box-shadow: 0 3px 16px var(--color-shadow);
  overflow: hidden;
}
