.main {
  width: 100%;
  padding: 0 16px 21px;
  margin: 0 0 21px;
  border-bottom: 1px solid var(--color-border);
}

.title {
  font-weight: 600;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 18px;
}
