.main {
  margin-top: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-weight: 500;
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 14px;
  overflow-x: auto;
}
