.main {
  position: fixed;
  top: 60px;
  right: 0;
  height: calc(100% - 60px);
  padding: 16px;
  background: var(--color-params-background);
  z-index: 99;
}

.header {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-auto-flow: column;
  column-gap: 16px;
  align-items: center;
}

.close_button {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: none;

  & > i {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--color-red);
    border-radius: 100vh;
    transition: background-color var(--tr-fast);

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

.wrapper {
  width: 100%;
  height: calc(100% - 42px);
  margin-top: 28px;
  padding-right: 16px;
  overflow: auto;
}

.overflow {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-rows: auto;
  row-gap: 16px;
  padding-bottom: 18px;
}

.input_block {
  display: flex;
  align-items: center;
  width: 100%;
}

.label {
  margin-left: 16px;
}