.main {
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 102px;
  box-shadow: 0 0 12px var(--color-shadow);
  background: var(--background-page);
  border-radius: var(--border-radius);
  overflow: hidden;
  color: var(--color-dark);
  border: 1px solid var(--color-popup);
  text-decoration: none;
  margin-bottom: 12px;
}

.status {
  width: 100%;
  height: 7px;
}

.name {
  font-size: 16px;
  margin: 8px 0 4px;
  padding: 0 8px;
}

.info {
  opacity: .5;
  font-size: 12px;
  padding: 0 8px;
}

.statusText {
  font-size: 12px;
  margin-top: 10px;
  opacity: .65;
  padding: 0 8px;
}
