.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  margin-top: 18px;
  border: 1px solid var(--color-blue-hover-light);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  box-shadow: 0 2px 8px var(--color-shadow);
  cursor: pointer;
  transition: background-color var(--tr-fast), border var(--tr-fast);

  &:hover,
  &:focus {
    background-color: var(--color-blue-link);
    border: 1px solid var(--color-border);
  }
}

.statusText {
  font-size: 12px;
  margin-bottom: 6px;
}

.title {
  max-width: 80%;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 4px;
}

.type {
  font-size: 12px;
  margin-bottom: 16px;
}

.address {
  font-size: 14px;
}

.status {
  position: absolute;
  right: -1px;
  top: -1px;
  width: 6px;
  height: calc(100% + 2px);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.mapPin {
  position: absolute;
  top: 12px;
  right: 12px;
  transition: transform var(--tr-fast);

  &:hover {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}
