.main {
  width: 100%;
  padding: 0 16px 21px;
  margin: 0 0 21px;
  border-bottom: 1px solid var(--color-border);
}

.title {
  font-weight: 600;
}

.wrapper {
  display: flex;
  margin-top: 18px;
  overflow-x: auto;
}

.image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  object-position: center;

  & + & {
    margin-left: 12px;
  }
}
