@import "~@src/assets/styles/variables.less";

.main {
  display: flex;
  flex-direction: column;
}

.input {
  display: none;

  &:checked + .label {

    & > .wrapper {
      background-color: var(--color-blue);
    }

    & .box {
      transform: translate3d(110%, 0, 0);
      background-color: var(--color-white);
    }
  }
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: 50px;
  height: 26px;
  border: 1px solid var(--color-blue);
  border-radius: 100vh;
  background-color: var(--color-white);
  margin: 0 5px;
  transition: background-color @tr-medium;
}

.box {
  position: absolute;
  left: 3px;
  top: 2px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--color-blue);
  transform: translate3d(0,0,0);
  transition: transform @tr-medium, background-color @tr-medium;
}
