.button {
  display: flex;

  &--styles {
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    background-color: var(--color-blue);
    color: var(--color-white);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    cursor: pointer;

    &:hover {
      background-color: var(--color-blue-hover);
    }

    &:active {
      background-color: var(--color-blue-active);
    }
  }
}
