.App {
  width: 100%;
  min-height: 100vh;
}

.Container {
  margin-left: 72px;
}

.logo {
  position: fixed;
  top: 16px; right: 9px;
  width: 105px;
  height: 24px;
  object-fit: contain;
  object-position: center;
  z-index: 999;
}
