.main {
  margin-top: 36px;
  width: 100%;
}

.link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  color: var(--color-dark);
  text-decoration: none;
  transition: background-color var(--tr-fast);

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 6px;
    height: 85%;
    border-radius: 100vh;
    background-color: var(--color-blue);
    overflow: hidden;
    transform: translate(-50%, -50%) scale3d(1, 0, 1);
    opacity: 1;
    transition: opacity var(--tr-fast), transform var(--tr-fast);
  }

  &:hover {
    background-color: var(--color-blue-hover-light);

    &::before {
      opacity: 1;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
    }
  }
}

.link_title {
  margin-top: 8px;
}

.link__active {
  background-color: var(--color-blue-hover-light);

  &::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }
}

.link_image {
  width: 40px;
  height: 30px;
  object-fit: contain;
  object-position: center;
}
