.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78px;
  height: 103px;
  background-color: var(--background-page);
  box-shadow: 0 0 12px var(--color-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 1px solid var(--color-popup);
  text-decoration: none;
}

.item__status {
  width: 100%;
  height: 6px;
}

.item__icon {
  margin-top: 4px;
  width: 50px;
  height: 40px;
  object-position: center;
  object-fit: contain;
}

.item__name {
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
  color: var(--color-dark);
}

.item__info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dark);
  margin-top: 4px;
  font-weight: 600;
}
